<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.philxin.mapper.cart.CartFastAddMapper">
    <select id="selectCartId" resultType="int">
        select id from cskaoyan_mall_cart where product_id=#{productId}
    </select>
</mapper>
